*{
    font-family: "inter";
    margin: 0px;
    padding: 0px;
}

.parteInicial{
    background-color: #303030;
    color: #F9F9F9;
    padding-left: 50px;
}

#tituloPrincipal{
    padding-top: 150px;
    margin-bottom: 10px;  
    font-size: 50px;
}

#textoSecundario{
    padding-bottom: 100px;
    font-size: 15px;
}

.menuInformacional{
    background-color: #F9F9F9;
    color: black;
    display: grid;
    grid-auto-flow: column;
    padding-top: 54px;
    padding-left: 150px;
    padding-bottom: 100px;
}

.numeroInfo{
    font-size: 40px;
}

#tituloTextoFoto{
    margin-top: 300px;
    margin-left: 50px;
    margin-right: 70px;   
}

#fotoLp{
    position: absolute;
    right: 50px;
    top: 100%;
    border-radius: 30px;
    
}

#textoFoto{
    margin-left: 50px;
    margin-bottom: 330px;
}

.formulario{
    background-color: #303030;
    text-align: center;
    padding-top: 50px;
}

#textoFormulario{
    color: #FFFFFF;
    font-size: 22px;
    padding-bottom: 40px;
}

input{
    background-color: #FFFFFF;
    height: 40px;
    width: 300px;
    margin-bottom: 40px;
    border-radius: 10px;
    padding-left: 20px;
    border: 0px;
}

button{
    background-color: #C07212;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 22px;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: 0px;
    margin-bottom: 50px;
    cursor: pointer;
}

button:hover{
    background-color: #ff8c00;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0px 15px 20px #05103044;
    transition-duration: 0.5s;
}
